<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css"/>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css"/>

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <script type="text/javascript"> Bokeh.set_log_level("info"); </script>
    <title> {% block title %} Maulik's Dashboard {% endblock %} </title>
</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Daily DashBoard</a>
        </div>
    </nav>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse active">
            <ul class="nav in" id="side-menu">
                {% block sidenav %}
                <li style="background-color: lightgray;">
                    <a href="/posts/walkscore/"><i class="fa fa-dashboard fa-fw"></i>Map Walk Score</a>
                </li>

                <li>
                    <a href="/posts/deals/"><i class="fa fa-table fa-fw"></i> Deal</a>

                </li>


                {% endblock %}


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <div id="page-wrapper" style="min-height: 305px;">
        {% block content %}
        {% endblock %}
    </div>

</div>
<div class="footer">
    <!--<div class="panel-footer text-center">-->
        <a href="#">Visitor Count :
            {% block pagecount %}
            {% endblock %}
        </a>
    <!--</div>-->
  </div>
</body>

</html>

